@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Zilla+Slab&display=swap');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
     

     
 }

 body {
     margin: 0;
     background-color: #000;
 }

.logo-image {
    width: 100px;
    height: auto;
    margin-bottom: 0px;
}

 .cont1 {
    background-color: transparent;
    color: white;
     height: 100px;
     width: 100%;
     font-family: 'Gloock', serif;
     align-items: center;
     justify-content: center;
     margin: 0px;
     padding: 0;
    display:inline-block;
 }

 ul {
    float: right;
    margin-left: 10px;
          display: flex;
          font-size: 20px;

     padding: 10px 100px;
     margin: 0;
     display: flex;
     gap: 35px;
     list-style: none;
     font-size: 25px;
    
 }

 ul li {
     color: white;
     display: inline-block;
     line-height: 20px;
     margin-top:-50px ;
     

 }

 a {
     text-decoration: none;
     padding: 7px 23px;
     /* margin-top: -10px; */
     color: wheat;
     font-family: 'Gloock', serif;
     font-weight:normal;
     cursor: pointer;
     transition: 0.5s;
 }
 a:hover{
    color: rgb(255, 0, 0);
 }

 h1 {
     text-align: center;
     margin-top:10px;
     margin-left: 20%;


 }

 /* .addheader1 {
     padding-bottom: 50px;
     font-size: 30px;
     color: black; */

.header1{
    color: black;
    font-weight:lighter;
    float: left;
    width: 200px;
    padding: 0 10px;
    cursor: pointer;
     transition: 0.5s;
}

.header1:hover{
    color: rgb(238, 23, 8);
 }

 

 .formcont1 {
     background-color: rgba(0, 0, 10, 0.096);
     border-radius: 20px;
     padding-left: 50px;
     padding-right: 5px;
     margin-top: 20px;
     margin-left: 30px;
     margin-right: 50px;
     font-family: 'Gloock', serif;
     font-family: 'Shantell Sans', cursive;
     color: rgba(7, 7, 214, 0.644);
     font-weight: bolder;
 }


 .jina {
     color: brown;
     font-size:25px;
     margin-right: 30%;
     font-family: 'Gloock', serif;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .formcont1 button{
    margin-bottom: 20px;
    border-radius: 5px;
 }
 

 .img1 {
     margin: 0;
     padding: 0;
     background-size: cover;
     width: 100%;
     height: auto;
     background-color: rgb(0, 0, 0), 0.5;
 }

 .homecontent {
    /* background-color: rgb(0, 0, 0); */
    background: url("./images/flm7.jpg") top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
     position: relative;
     width: 100%;
     /* display: flex; */
     /* justify-content: center;
     align-items: center; */
     height: 1000px;
     margin: 0;
 }

 .homeinnercont {
     background-color: rgba(0, 0, 0, 0.764);
     margin-top: 15%;
     margin-right: 200px;
     margin-left: 200px;
     padding-top: 16px;
     padding-bottom: 8px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: white;
     border-radius: 10px;

 }

 .headtopic {
     color: white;
     gap: 2rem;
     font-size: 45px;
     margin-right: 15%;
     font-style: italic;
     margin-bottom: 10px;
     
 }

 .P1 {
     color: wheat;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     font-style: italic;
 }

 p {
     width: 70%;
     text-align: center;
     margin-left: 15%;
     margin-bottom: 30px;
 }



 .aboutheader {
     justify-content: center;
     align-items: center;
     padding: 0 60px;
     margin-top: 120px;
     margin-bottom: 100px;

 }

 .abouth1 {
     color: rgba(2, 95, 201, 0.979);
     margin-bottom: 35px;
     font-family: 'Gloock', serif;
     font-size: 50px;
     margin-left: 30px;
     text-decoration:underline rgba(184, 188, 199, 0.534);


 }

 .pbout{
    width: 60%;
    margin-left: 20%;
    font-size: 18px;
 }
.offer{
    font-size: small;
    font-size: 20px;
    font-family: 'Gloock', serif;
     font-family: 'Shantell Sans', cursive;
     color: rgb(73, 16, 2);
}
 

 .About {
     margin: 15%;
     width: 65%;
 }

 .footer{
    background-color: rgba(5, 86, 236, 0.603);
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
    justify-content:space-around;
    align-items: center;
 }
 .footercont{
    display: inline-flex;
    position: relative;

    /* width:0%; */
    /* padding-top: 20px; */
    gap: 3rem;
    font-family: 'Oranienbaum', serif;
    font-family: 'Zilla Slab', serif;
 }
 .footercont h5{
    color: rgb(238, 232, 232);
    margin-top: 20px;
    margin-bottom: 55px;
 }
 .footercont p{
    color: black;
 }
 .footer-title{
    color: black;
 }
 span{
    color: rgb(251, 255, 0);
 }

 .cont3 {
    color: rgb(0, 225, 255);
    background-color: black;
    float: right;
    
}
.card{
    border: none;
    padding: 10px;
}
.card-body{
    color: #fff;
    font-family: 'Oranienbaum', serif;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    line-height: 1.2;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
    
}

.card-img-top{
    margin: 0;
    padding: 0px;
    height: 300px;
    width: 400px;
}



.card-head {
    margin-left: 0;
    display: flex;
    margin-bottom: 24px;
    
    
}
.card-model{
    color: wheat;
    font-weight: bold;
    margin-right: 20px;
    font-size: 24px;
    margin-left: 128px;
    display: inline-block;
}

.card-year{
    background-color: rgb(27, 26, 26);
    padding: 8px;
    color: wheat;
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
    margin-right: 16px;
    margin-left: 12px;
    border-radius: 12px;
    font-weight: lighter;
}

.car-segments {
    display: flex;
    margin-bottom: 6px;
}

.car-engine {
    background-color: rgb(27, 26, 26);
    padding: 8px;
    color: wheat;
    font-size: 20px;
    margin-right: 36px;
    margin-left: 16px;
    border-radius: 12px;
    font-weight: lighter;
}

.car-transmission {
    background-color: rgb(27, 26, 26);
    padding: 8px;
    color: wheat;
    font-size: 20px;
    margin-right: 48px;
    border-radius: 12px;
    font-weight: lighter;
}

.car-drive {
    background-color: rgb(27, 26, 26);
    padding: 8px;
    color: wheat;
    font-size: 20px;
    margin-right: 48px;
    border-radius: 12px;
    font-weight: lighter;
}

.car-footer {
    display: flex;
    margin-bottom: 6px;
}

.car-price {
    padding: 8px;
    color: wheat;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    font-weight: bolder;
}

.car-availability {
    background-color: rgb(13, 63, 25);
    padding: 4px;
    color: wheat;
    font-size: 20px;
    margin-right: 140px;
    border-radius: 12px;
}

.navigation-buttons {
    display: flex;
}

.car-details {
    color: #fff;
    display: flex;
    align-items: center;
}

.single-car-details {
    width: 50%;
    height: auto;
    align-items: flex-end;
    font-size: 16px;
}

.single-car-image {
    width: 750px;
    height: 500px;
    padding-left: 32px;
}

.single-car-model {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    margin-top: 48px;
}

.cart-button {
    background-color: #ea5316;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: wheat;
    font-size: 16px;
    margin-right: 48px;
    margin-left: 80px;
    border-radius: 12px;
    border: none;
}

.view-button {
    background-color: #ea5316;
    padding: 16px;
    color: wheat;
    font-size: 16px;
    border-radius: 12px;
    border: none;
}

.suggested-cars-title {
    color: #fff;
    margin-top: 48px;
    margin-left: 50px;
}

.cart-container{
    background-color: rgba(0, 0, 0, 0.623);
    color: rgb(180, 161, 161);
}
.cart-checkout button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.cart-checkout h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart-checkout p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    padding-top: 10px;
}
.container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-right: 200px;
}
.flex {
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
}
form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.623);
    margin-top: 5px;
    border-radius: 5px;
  }
  form span {
    font-size: 18px;
    color: white;
  }
  input::placeholder {
    font-size: 17px;
    color: grey;
  }
  form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
  }
  form .box:nth-child(1) {
    border-left: none;
  }
  form h4 {
    font-weight: 500;
  }
  @media screen and (max-width: 800px) {
    .hero .container {
      padding-top: 30%;
    }}

    form {
        display: flex;
        flex-wrap: wrap;
      }
      form .box {
        border-left: none;
      }
      form input {
        width: 100%;
      }  
.btn1 button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    right: 300px;
    top: 265px;
}


.awards{
    color: wheat;
    font-size: 20px;
    font-family: 'Oranienbaum', serif;
    font-family: 'Zilla Slab', serif;
    
}
.awards p{
    color: black;
    font-size: 30px;
    
}

.copyright{
    margin-top: 40px;
    font-family: 'Oranienbaum', serif;
    font-family: 'Zilla Slab', serif;
}
.services{
    font-family: 'Oranienbaum', serif;
    font-family: 'Zilla Slab', serif;
}
.layout p{
    cursor: pointer;
    transition: 0.5s; 
}
.layout p:hover{
    color: yellow;
}



.aboutcontent {
    background-color: #000;
    height: 100%;
}

.about-section {
    padding: 30px;
}



.img-fluid {
    height: 300px;
    width: 450px;
    position: absolute;
    right: 10;
}

/*.about-section__left-title {
    padding-bottom: 16px;
    background-color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: 300;
    margin-left: 10px;
}

.about-section__desc {
    background-color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 200;
    color: #000;
    margin-left: 10px;
    margin-right: 90%;
} */

.btn-oval {
    border-radius: 20px;
    background-color: #ea5316;
    border-color: #ea5316;
    color: #fff;
}

/* .img-fluid {
    text-align: right;
    align-items: flex-end;
    display: inline-block;
} */

.car-list {
    background-color: #000;
}